<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539590835829-vte8e0qrl56erjapgecea12fpipkqsmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539590835829-vte8e0qrl56erjapgecea12fpipkqsmn</string>
	<key>API_KEY</key>
	<string>AIzaSyDgLthmZGbH7g_IZguL8vnBtLJGWXr6TuY</string>
	<key>GCM_SENDER_ID</key>
	<string>539590835829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sportu</string>
	<key>PROJECT_ID</key>
	<string>sportnews-8bbab</string>
	<key>STORAGE_BUCKET</key>
	<string>sportnews-8bbab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539590835829:ios:6cf4c5a5af46b3e92bc23c</string>
	<key>DATABASE_URL</key>
	<string>https://sportnews-8bbab.firebaseio.com</string>
</dict>
</plist>